* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "MyIcon";
    src: url("../font/glyphicons-halflings-regular.woff2");
}

body {
    background-image: url("../img/bg.jpg");
    position: relative;
    text-align: center;
}

.header {
    width: 100%;
    height: 50px;
    background: #191818;
}

.container {
    position: relative;
    width: 1170px;
    height: 50px;
    margin: 0px auto;
    /*background: pink;*/
}

.title {
    display: inline-block;
    float: left;
    color: #eeeeee;
    line-height: 50px;
    text-decoration: none;
    margin: 0px 15px;
    font-size: 18px;
}

.menu {
    /*background: blue;*/
    float: left;
}

.menu > li {
    display: inline-block;
    float: left;
    height: 50px;
    width: 58px;
    color: #eeeeee;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
}

.menu > li > a {
    text-decoration: none;
    color: white;
}

.search_bar > input {
    display: inline-block;
    position: absolute;
    height: 22px;
    padding: 5px 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid;
    font-size: 14px;
    top: 50%;
    margin-top: -18px;
    right: 60px;
}

.search_bar > button {
    display: inline-block;
    position: absolute;
    width: 54px;
    height: 34px;
    padding: 5px 10px;
    border-radius: 8px;
    top: 50%;
    margin-top: -18px;
    outline: none;
    color: #555555;
    right: 0px;
    background: white;
}

.content {
    display: inline-block;
    position: relative;
    width: 1170px;
    margin: 30px auto 0px auto;
}

.content_left {
    float: left;
    width: 66%;
    padding: 0px 20px 0px 0px;
    box-sizing: border-box;
}

.content_right {
    float: right;
    width: 34%;
    padding: 0px 0px 0px 0px;
}

.right_moodule {
    display: inline-block;
    width: 100%;
    background: #1f1f1f;
    color: white;
    border-radius: 10px;
    text-align: left;
    padding: 0px 15px 25px 15px;
    margin-bottom: 20px;
}

.right_moodule div {
    display: block;
    text-align: left;
    font-size: 14px;
    padding: 15px 5px 15px 0px;
    color: dodgerblue;
}

.right_moodule > a {
    display: inline-block;
    font-size: 14px;
    color: dodgerblue;
    margin-right: 5px;
    text-decoration: none;
}

.right_moodule > ul > li {
    list-style: none;
    color: white;
    padding: 8px 0px;
    border-bottom: 1px solid #292929;
}

.right_moodule > ul > li > a {
    text-decoration: none;
    font-size: 14px;
    color: white;
}

.right_moodule > ul > li > div {
    padding: 5px 0px;
}

.right_moodule > ul > li > div > span{
    font-size: 14px;
    color: white;
}

.right_moodule > ul > li > p {
    font-size: 14px;
    color: #777777;
}

.pull_right {
    position: absolute;
    right: 15px;
}

.right_moodule > span {
    display: inline-block;
    width: 50%;
    height: 30px;
    margin-top: 10px;
}

.right_moodule > span > a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 30px;
}

.footer {
    width: 100%;
    height: 60px;
    background: #191818;
    text-align: center;
    padding: 20px;
}

.footer > ul {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

.footer > ul > li {
    display: inline-block;
    color: #a2a2a2;
    float: left;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
}

.footer > p {
    margin-top: 10px;
    color: #a2a2a2;
}

.page_tool {
    margin-top: 20px;
    display: inline-block;
}

.page_tool > ul > li {
    display: inline-block;
    list-style: none;
    width: 40px;
    height: 30px;
    background: pink;
    line-height: 30px;
    background: white;
    text-align: center;
    border: 1px solid black;
    float: left;
    cursor: pointer;
}

.page_tool > ul > li:hover {
    background: gray;
}

.now_page {
    background: #333 !important;
    color: #fff !important;
}